
body {
    background-color: rgb(254,254,250);
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background: #1F305E;
    overflow: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0 0 0 250px;
}

li {
    float: left;
}


.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

nav a {
    width: 100px;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(254,254,250);
    text-align: center;
}

nav a:hover {
    transition: 0.5s;
    text-transform: uppercase;
    background-color:#1F305E;
}





